<%- include("../partials/_nav") %>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="canvasjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Your Profile</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body id="profile-body">
  <div class="profile-page">
    <div class="profile-container">
      <!-- Left Column -->
      <div class="profile-info">
        <img
          src="<%= user.profilePicture %>"
          alt="Profile Picture"
          class="profile-picture"
        />
        <h2><%= user.username %></h2>
        <p><strong>Email:</strong> <%= user.email %></p>
        <a href="/profile/edit">
          <button class="edit-button">Edit Profile</button>
        </a>
      </div>

      <!-- Right Column -->
      <div class="profile-chart">
        <h3>Books by Genre</h3>
        <canvas id="profile-myChart"></canvas>
      </div>
    </div>
  </div>
  <script>
            const data = {
              labels: <%- JSON.stringify(genres) %>,
              datasets: [
                {
                  label: 'Books by genre',
                  data: <%- JSON.stringify(genreCounts) %>,
                  backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(75, 192, 192)',
                    'rgb(255, 205, 86)',
                    'rgb(201, 203, 207)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(255, 159, 64)',
                    'rgb(0, 204, 102)',
                    'rgb(255, 51, 204)',
                    'rgb(102, 204, 255)',
                    'rgb(255, 102, 0)',
                    'rgb(0, 153, 204)',
                    'rgb(204, 51, 255)',
                    'rgb(102, 255, 51)',
                    'rgb(255, 255, 102)',
                    'rgb(51, 102, 255)',
                    'rgb(255, 102, 102)',
                    'rgb(102, 255, 255)',
                    'rgb(204, 153, 255)',
                    'rgb(255, 204, 153)'
                  ]
                }
              ]
            }
            const ctx = document.getElementById('profile-myChart').getContext('2d')

        new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
      plugins: {
        title: {
          display: true,
          text: 'Number of Borrowed Books by Genre',
          font: {
            size: 18
          }
        },
        legend: {
          display: false
        }
      },
      responsive: true,
      maintainAspectRatio: false
    }
        })
  </script>
</body>
