<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<%- include('../partials/_nav') %>

<section class="show-book-section">
  <div class="book-card">
    <img src="<%= book.imgUrl %>" alt="" />
  </div>

  <div class="book-info">
    <h1 id="book-title"><%= book.title %></h1>
    <p id="book-author">By: <%= book.author %></p>
    <p id="book-author">Language: <%= book.language %></p>
    <p id="book-author">Genre: <%= book.genre %></p>
    <% if (book.isBorrowed){ %>
    <p id="book-author">Borrowed by: <%=borrower%></p>
    <% } %>


    <p id="book-desc">Discription: <br><%= book.description %></p>
    <div class="book-btns">
      <a href="/books/<%= book._id %>/edit" class="edit-btn"><button>Edit Book</button></a>
      <% if (!book.isEbook) { %>
      <% if(book.isBorrowed){ %>
        <a href="/books/<%= book._id %>/return" class="edit-btn"><button>Register as returned</button></a>
      <%}else{%>
      <a href="/books/<%= book._id %>/borrow" class="edit-btn"><button>Register as Borrowed</button></a>
      <%}%>
      <%} else {%>
        <a href="<%= book.ebookPath %>" class="edit-btn" target="_blank"><button>Read</button></a>
        <%}%>
      <form action="/books/<%= book._id %>?_method=DELETE" method="POST" class="delete">
        <button type="submit" id="delete-btn">Delete</button>
      </form>
    </div>
    </div>
  </div>
</section>
